#table#bottom_table td {
#    width:150px;
#    text-align:center;
#    border:1px solid black;
#    padding:5px
#}

table {
    margin:0 auto;
     padding-top: 30px;
     padding-bottom: 30px;
     #border-collapse: collapse;
}

img {
    width:15px
    height:15px
}

#highlight td {
        border: 1px solid #ff0000;
}

.selected {
        border-left: 2px solid #000000;
        border-right: 2px solid #000000;
        background-color: #ffc107;
        color: #ffc107;
}